<div class="header">
   <div class="header-left">
      <a href="/dashboard" class="logo">
      <img src="/assets/img/perform-logo-small.png" class="img-responsive" alt="">
      </a>
   </div>
    <div class="pull-left">
      <div class="nav-menu">
        <a href="">
          <i class="fa fa-bars fa-2x"></i>
        </a>
      </div>
    </div>
   <!-- <div class="page-title-box pull-left">
      <h3>Perform Law</h3>
   </div> -->
  
   <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
   <ul class="nav navbar-nav navbar-right user-menu pull-right">
    
       <li class="role-header">
         {{#if_eq user.role_id "1"}}
        <h4>Site Admin</h4>
        {{/if_eq}} {{#if_eq user.role_id "2"}}
        <h4>Firm Admin</h4>
        {{/if_eq}} {{#if_eq user.role_id "3"}}
        <h4>Attorney</h4>
        {{/if_eq}} {{#if_eq user.role_id "4"}}
        <h4>Employee</h4>
        {{/if_eq}}
       </li>
      <li class="dropdown">
         <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="{{user.first_name}}">
         <span class="user-img"><img class="img-circle" src="{{user.avatar}}" width="40" alt="{{user.first_name}}">
         <span class="status online"></span></span>
         <span>{{user.first_name}}</span>
         <i class="caret"></i>
         </a>
         <ul class="dropdown-menu">
            <li><a href="/profile"><i class="fa fa-user"></i> My Profile</a></li>
            <li><a href="/edit-profile"><i class="fa fa-pencil-square-o"></i> Edit Profile</a></li>
            {{#if_eq user.role_id "1"}}
            <li><a href="/settings"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#loginFirm"><i class="fa fa-sign-in"></i> Login as firm admin</a></li>
            {{/if_eq}}
            <li><a href="/change-password"><i class="fa fa-key"></i> Change Password</a></li>
             {{#if_eq user.role_id "2"}}
               {{#if_eq user.actual_role_id "0"}}
                 <li><a href="/change-role"><i class="fa fa-sign-in"></i> Login as Attorney</a></li>
              {{/if_eq}}
               {{#if_eq user.actual_role_id "1"}}
                 <li><a href="/change-role-site"><i class="fa fa-sign-in"></i> Login as Attorney</a></li>
              {{/if_eq}}
            {{/if_eq}}
             {{#if_eq user.actual_role_id "2"}}
            <li>
              <a href="/change-role-firm"><i class="fa fa-sign-in"></i> Login as firm admin </a>
            </li>
            {{/if_eq}}
             {{#if_eq user.role_id "3"}}
              {{#if_eq user.actual_role_id "1"}}
                <li>
                  <a href="/change-role-firm-site"><i class="fa fa-sign-in"></i> Login as firm admin </a>
                </li>
              {{/if_eq}}
            {{/if_eq}}
             {{#if_eq user.actual_role_id "1"}}
            <li>
              <a href="/change-role-firm-site-all"><i class="fa fa-sign-in"></i> Login as site admin </a>
            </li>
            {{/if_eq}}
            <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
         </ul>
      </li>
   </ul>
   <div class="dropdown mobile-user-menu pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
      <ul class="dropdown-menu pull-right">
         <li><a href="/profile">My Profile</a></li>
         <li><a href="edit-profile.html">Edit Profile</a></li>
         <li><a href="/settings">Settings</a></li>
         <li><a href="/logout">Logout</a></li>
      </ul>
   </div>
</div>
<div class="modal fade" id="loginFirm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <strong>Login As Super User</strong>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form name="site_to_firm" id="site_to_firm" method="POST" action="/change-site-to-firm">
            <label class="control-label">Select Firm</label>
            <div class="form-group">
                <select class="form-control floating" id="firm_id" name="firm_id">
                  <option value="">Select Firm</option>
                  
                </select>
            </div>
          <div class="form-group">
            <input type="submit" name="import" value="Submit" class="btn btn-primary rounded" />
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

{{#content "script" mode="append"}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

<script>
  $(document).ready(function (e) {
    $.ajax({
      type: "POST",
      url: "/get-firm-name",
      success: function (response) {
        for (var i = 0; i < response.firms.length; i++) {
          console.log(response.firms[i]);
          $("#firm_id").append('<option value="' + response.firms[i].id + '">' + response.firms[i].title + '</option>');
        }
      },
      error: function (xhr) {

      }
    });

      $("#site_to_firm").validate({
        rules: {
          firm_id: {
            required: true
          }
        },
        messages: {
          firm_id: {
            required: "Please select a firm"
          }
        }
      });
    });
</script>
{{/content}}