<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li {{#if_eq client_url "dashboard" }} class="active" {{/if_eq}}>
               <a href="/dashboard">Dashboard</a>
            </li>
            <li {{#if_eq client_url "firms" }} class="active" {{/if_eq}}>
                <a href="/firms">Firms</a>
            </li>
            <li {{#if_eq client_url "section" }} class="active" {{/if_eq}}>
               <a href="/section">Section</a>
            </li>
            <li {{#if_eq client_url "practice-area" }} class="active" {{/if_eq}}>
               <a href="/practice-area">Practice Area</a>
            </li>
            <li {{#if_eq client_url "jurisdiction" }} class="active" {{/if_eq}}>
               <a href="/jurisdiction">Jurisdiction</a>
            </li>
            <li {{#if_eq client_url "employees" }} class="active" {{/if_eq}}>
               <a href="/employees">Employees</a>
            </li>
            <li {{#if_eq client_url "designations" }} class="active" {{/if_eq}}>
               <a href="/designations">Designations</a>
            </li>
             <li {{#if_eq client_url "attorneys" }} class="active" {{/if_eq}}> 
               <a href="/attorneys">Attorneys</a>
            <li {{#if_eq client_url "budgets" }} class="active" {{/if_eq}}>
               <a href="/budgets">Budgets</a>
            </li>
         </ul>
      </div>
   </div>
</div>
