<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <title>Perform Law - {{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-sweetalert/sweet-alert.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/morris/morris.css"> {{#block "style"}}
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> {{/block}}
  <!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>
  <div class="loader"></div>
  <div class="main-wrapper">

    {{> header}} {{> sidebar}}
     {{{body}}}
  </div>
  <div class="sidebar-overlay" data-reff="#sidebar"></div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change password to activate your account</h5>
          {{!--
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> --}}
        </div>
        <div class="modal-body">
          <form class="m-b-30" name="newChangePass" id="newChangePass" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">New Password
                    <span class="text-danger">* </span>
                    <span>[Strength: <span id="result"></span> ]</span>
                  </label>
                  <input class="form-control" type="password" id="new_password" name="new_password">
                  <span id="show_password" class="fa fa-eye showPassEyeCss" title="Show Password"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Confirm Password
                    <span class="text-danger">*</span>
                  </label>
                  <input class="form-control" type="password" id="confirm_password" name="confirm_password">
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a href="/logout" class="btn btn-danger" style="background-color: #bfbbbb; border: 1px solid #bfbbbb;">Close</a>
          <button type="button" class="btn btn-primary" id="btnChangePasswordNew">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {{#block "script"}}
  <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script>
  <script type="text/javascript" src="/assets/plugins/morris/morris.min.js"></script>
  <script type="text/javascript" src="/assets/plugins/raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
  <script src="/assets/input-mask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    
       $("#show_password").mousedown(function () {
         $(this).removeClass("fa fa-eye");
         $(this).addClass("fa fa-eye-slash");
          $("#new_password").prop('type', 'text');
        }).mouseup(function () {
          $(this).removeClass("fa fa-eye-slash");
          $(this).addClass("fa fa-eye");
          $("#new_password").prop('type', 'password');
        }).mouseout(function () {
          $(this).removeClass("fa fa-eye-slash"); 
          $(this).addClass("fa fa-eye");
          $("#new_password").prop('type', 'password');
        });
    $('.url_selector').keyup(function () {
      if (($(this).val().substr(0, 7) !== 'http://') || ($(this).val() === '')) {
        $(this).val('http://');
      }
    });


    $(document).ready(function () {

      $("textarea").focusin(function () {
        $(this).siblings(".control-label").hide();
      });
      $("textarea").focusout(function () {
        $(this).siblings(".control-label").show();
      });

      $(".number_validator").inputmask("mask", {
        "mask": "(999) 999-9999"
      });

      $(".alert").fadeTo(2000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
      });

      $("#state").change(function (e) {
        var state_id = $(this).val();
        $("#city").find('option').not(':first').remove();
        if (state_id) {
          $.ajax({
            type: "POST",
            url: "/firm-profiles/get-city",
            data: { state_id: state_id },
            beforeSend: function (xhr) {
             $(".loadingImgCityAjax").show();
            },
            success: function (response) {
              $(".loadingImgCityAjax").hide();
              for (var i = 0; i < response.get_city.length; i++) {
                $("#city").append('<option value="' + response.get_city[i].id + '">' + response.get_city[i].name + '</option>');
           
              }
              var options = $('#city option:not(:first)');
              var arr = options.map(function(_, o) {
                  return {
                      t: $(o).text(),
                      v: o.value
                  };
              }).get();
              arr.sort(function(o1, o2) {
                  return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
              });
              options.each(function(i, o) {
                  //console.log(i);
                  o.value = arr[i].v;
                  $(o).text(arr[i].t);
              });
            },
            error: function (xhr) {

            }


            
          });
        }
      });

      $("#city").change(function (e) {
        var city_name = $("#city option:selected").text();
        $("#zipcode").find('option').not(':first').remove();
        if (city_name) {
          $.ajax({
            type: "POST",
            url: "/firm-profiles/get-zipcode",
            data: { city_name: city_name },
            beforeSend: function (xhr) {
              $(".loadingImgZipAjax").show();
            },
            success: function (response) {
              $(".loadingImgZipAjax").hide();
              for (var i = 0; i < response.zipcode.length; i++) {
                // console.log(response.zipcode[i]);
                $("#zipcode").append('<option value="' + response.zipcode[i].id + '">' + response.zipcode[i].zip + '</option>');
              }
            },
            error: function (xhr) {

            }
          });
        }
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $(".nav-menu a").click(function (e) {
        e.preventDefault();
        $(".sidebar").toggleClass("sidebar-hide");
        $(".sidebar").toggleClass("sidebar-hover");
        $(".page-wrapper").toggleClass("page-wrapper-full");
        $("i", this).toggleClass("fa fa-bars fa fa-times");
      });
    });
  </script> 
  {{/block}}
  <a href="#" class="scrollup btn btn-primary">
    <i class="fa fa-long-arrow-up"></i>
  </a>
  <script>
    $(document).ready(function () {
      $('#confirm_password').on("cut copy paste", function (e) {
        e.preventDefault();
      });
      $('#new_password').on("cut copy paste", function (e) {
        e.preventDefault();
      });
        $('#new_password').keyup(function () {
        $('#result').html(checkStrength($('#new_password').val()))
      })
      function checkStrength(password) {
        var strength = 0
        if (password.length < 8) {
          $('#result').removeClass()
          $('#result').addClass('short')
          return 'Too short'
        }
        if (password.length > 8) strength += 1
        // If password contains both lower and uppercase characters, increase strength value.
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
        // If it has numbers and characters, increase strength value.
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
        // If it has one special character, increase strength value.
        if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
        // If it has two special characters, increase strength value.
        if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
        // Calculated strength value, we can return messages
        // If value is less than 2
        if (strength < 2) {
          $('#result').removeClass()
          $('#result').addClass('weak')
          return 'Weak'
        } else if (strength == 2) {
          $('#result').removeClass()
          $('#result').addClass('good')
          return 'Good'
        } else {
          $('#result').removeClass()
          $('#result').addClass('strong')
          return 'Strong'
        }
      }
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
          } else {
            $('.scrollup').fadeOut();
          }
        });

        $('.scrollup').click(function () {
          $("html, body").animate({
            scrollTop: 0
          }, 600);
          return false;
        });

        var url = window.location.pathname;
          if (url == "/dashboard") {
            $(".sidebar").css("z-index", "1040");
          }

        if({{user.new_user_status}} == 1)
        {
          $("#exampleModalCenter").modal({
            show: true,
            backdrop: 'static',
            keyboard: false
          });

          $("#btnChangePasswordNew").click(function () {
              $("#newChangePass").submit();
            });

          $("#newChangePass").validate({
            rules: {
              new_password: {
                required: true,
                minlength: 8
              },
              confirm_password: {
                required: true,
                equalTo : "#new_password"
              }
            },
            messages: {
              new_password: {
                required: "New Password can't be blank"
              },
              confirm_password: {
                required: "Confirm Password can't be blank",
              }
            },
            submitHandler: function (form) {
              var new_password = $("#new_password").val();
              $.ajax({
                type: "POST",
                url: "/change-password-new-user",
                data: {
                  new_password: new_password
                },
                beforeSend: function (xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                  $("#btnChangePasswordNew").prop('disabled', true);
                  $("#btnChangePasswordNew").html("Loading...");
                },
                success: function (response) {
                  if(response.success == true)
                  {
                    swal({
                      title: "Congratulations!",
                      text: "Your password has been changed and account activated successfully",
                      type: "success"
                    }, function () {
                      window.location.href = "/dashboard";
                    });
                  }
                }
              });
            }
          });
        }
      });
  </script>
  <script type="text/javascript">
    $(window).load(function () {
      $(".loader").fadeOut("slow");
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
  </script>


</body>

</html>