<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Page Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="account-page">
            <div class="main-wrapper">
                <div class="account-page">
                    <div class="container">
                        <h3 class="account-title">PAGE NOT FOUND</h3>
                        <div class="account-box">
                            <div class="account-wrapper">
                                <div class="account-logo">
                                    <a href="/">
                                        <img src="/assets/img/Perform_Law.png" alt="Focus Technologies" class="img-responsive">
                                    </a>
                                </div>
                                <div>
                                    <div class="text-error text-center error404">404</div>
                                    <p class="text-muted font-13 m-t-20" style="font-size: 14px; text-align: -webkit-center;">
                                        It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. You might want to check your
                                        internet connection. Here's a little tip that might help you get back on track.</p>
                                </div>

                                <div class="text-center">
                                    <a href="/">
                                        <i class="fa fa-home m-t-15"></i> Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

</body>

</html>