{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="main-wrapper">
     <div class="account-page">
       <div class="container">



         <h3 class="account-title">Management Login</h3>
         <div class="account-box">
           <div class="account-wrapper">
             <div class="account-logo">
               <a href="index-2.html"><img src="assets/img/logo2.png" alt="Focus Technologies"></a>
             </div>


             {{#if err_message}}
            <div class="alert alert-danger">
                <strong>Error! </strong>{{err_message}}
            </div>
            {{/if}}

            {{#if password_message}}
           <div class="alert alert-danger">
               <strong>success! mail is sent</strong>{{password_message}}
           </div>
           {{/if}}
             <form id="ForgotPasswordForm" action="/forgot" method="POST" >
               <input type="hidden" name="_csrf" value="{{csrfToken}}" >
               <div class="form-group form-focus">
                 <label class="control-label">Username or Email</label>
                 <input class="form-control floating" type="text" name="u_mail" autofocus id="u_mail" >
               </div>

               <div class="form-group">
                 <div class="g-recaptcha" data-sitekey="6Lfo1mQUAAAAAO8NY4gTTlaUmZcVOXPrY2zUBH4b" id="capcha"></div>
               </div>

               <div class="form-group text-center">
                 <button class="btn btn-primary btn-block account-btn" type="submit" >Reset Password</button>
               </div>
               <div class="text-center">
                 <a href="/">Back to Login</a>
               </div>

             </form>
           </div>
         </div>
       </div>
     </div>
       </div>
       {{#content "script" mode="append"}}
       <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
       <script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
       <script type="text/javascript" src="/assets/js/select2.min.js"></script>
       <script type="text/javascript" src="/assets/js/moment.min.js"></script>
       <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

       <script language="javascript">
	$(document).ready(function (e) {
 $("#ForgotPasswordForm").validate({
	rules: {
    u_mail: {
      required: true,
      u_mail: true
    },
    capcha: true{

    }
  },
  messages: {
    u_mail: {
      required: "Email id can't be blank",
      u_mail: "Enter valid email id"
    },
    capcha: {
      required: "capcha can't be blank"
    }
  }
 });
});

   </script>

       {{/content}}
