{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-title">Activity Budget Report</h4>
            </div>
            <div class="col-md-4" style=" padding-left:0;">
                <div class="div_left">
                    <table width="100%" class="table table-bordered">
                        <!--Marketing Budget Codes-->
                        <thead class="persist-header">
                            <tr>
                                <td style="height: 91px; width: 200px; vertical-align: middle">
                                    <strong>Marketing Budget Summary</strong>
                                </td>
                                {{!-- <td style="height: 91px; height: 50px"></td> --}}
                                <td style=" height: 150px; text-align:center; height: 35px; vertical-align: middle">
                                    <strong>Page Total</strong>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" style="height: 35px"></td>
                                {{!-- <td width="20%" style=" text-align:center; height: 35px; vertical-align: middle">
                                    <strong>CODE</strong>
                                </td> --}}
                                <td width="35%" style=" text-align:center; height: 35px; vertical-align: middle">
                                    <strong>Budget</strong>
                                </td>
                            </tr>

                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="3" style=" padding: 0;">
                                    <table width="100%" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td width="45%" style=" border-top: none; height: 40px; vertical-align: middle; text-align: center; " title="MEALS AND ENTERTAINMENT">
                                                    <strong>MEALS AND ENTERTAINMENT...</strong>
                                                </td>
                                                {{!-- <td width="20%" style="height: 40px"></td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" height="40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; vertical-align: middle; text-align: center;">
                                                                    <strong>Hours</strong>
                                                                </td>
                                                                <td width="50%" style="vertical-align: middle; text-align: center;">
                                                                    <strong>US $</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>

                                                <td width="45%" style="height: 40px; vertical-align: middle;" title="Food and Beverage">Food and Beverage...</td>
                                                {{!-- <td width="20%" style="vertical-align: middle; text-align: center;">ME01</td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" style="height: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">

                                                                    2.00
                                                                </td>
                                                                <td width="50%" style="height: 40px; vertical-align: middle; text-align: center;">
                                                                    50.00 </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td width="45%" style="height: 40px; vertical-align: middle;" title="Admission fees, tickets and venue fees">Admission fees, tickets and ve...</td>
                                                {{!-- <td width="20%" style="vertical-align: middle; text-align: center;">ME02</td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" style="height: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">

                                                                    -
                                                                </td>
                                                                <td width="50%" style="height: 40px; vertical-align: middle; text-align: center;">
                                                                    - </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td width="45%" style="height: 40px; vertical-align: middle;" title="Room rental  - receptions and cocktail parties">Room rental - receptions and ...</td>
                                                {{!-- <td width="20%" style="vertical-align: middle; text-align: center;">ME03</td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" style="height: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">

                                                                    12.00
                                                                </td>
                                                                <td width="50%" style="height: 40px; vertical-align: middle; text-align: center;">
                                                                    200.00 </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td width="45%" style="height: 40px; vertical-align: middle;" title="Gifts and takeaways">Gifts and takeaways...</td>
                                                {{!-- <td width="20%" style="vertical-align: middle; text-align: center;">ME04</td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" style="height: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">

                                                                    -
                                                                </td>
                                                                <td width="50%" style="height: 40px; vertical-align: middle; text-align: center;">
                                                                    - </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td width="45%" style="height: 40px; vertical-align: middle;" title="Labor and Support">Labor and Support...</td>
                                                {{!-- <td width="20%" style="vertical-align: middle; text-align: center;">ME05</td> --}}
                                                <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                    <table width="100%" style="height: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" border-right: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">

                                                                    -
                                                                </td>
                                                                <td width="50%" style="height: 40px; vertical-align: middle; text-align: center;">
                                                                    - </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td width="45%" style=" text-align:right; height: 35px; vertical-align: middle; text-align: center;">
                                                    <strong>Sub-total</strong>
                                                </td>
                                                {{!-- <td width="20%"></td> --}}
                                                <td width="35%" style=" padding:0; text-align:center" height="35px;">
                                                    <table width="100%" style=" height: 35px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" style=" height: 35px; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                                    <strong>14</strong>
                                                                </td>
                                                                <td width="50%" style=" height: 35px; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                                    <strong>250</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>






                                </td>
                            </tr>

                            <tr>
                                <td width="45%" style=" text-align:right; height: 35px; vertical-align: middle; text-align: center;">
                                    <strong>Grand Total</strong>
                                </td>
                                {{!-- <td width="20%" style=" height: 35px"></td> --}}
                                <td width="35%" style=" padding:0; text-align:center; height: 35px">
                                    <table width="100%" height="35px">
                                        <tbody>
                                            <tr>
                                                <td width="50%" style=" height: 35px; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                    <strong>113</strong>
                                                </td>
                                                <td width="50%" style=" height: 35px; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                    <strong>3730</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-8">


                <div class="div_right">


                    <div class="table-scrollable">

                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>

                                        <table class="table">


                                            <tbody>
                                                <tr>
                                                    <td width="150px">


                                                        <table width="100%" class="table table-bordered">
                                                            <thead class="persist-header">

                                                                <tr>
                                                                    <td height="91px" style=" width: 820px; text-align:center; vertical-align: middle">
                                                                        <a href="http://plmadev.myperformlaw.com/activity-budget-report/attorney-wise-activity-budget-split-up/SW1wbGVtZW50IGRpZ2l0YWwgbWFya2V0aW5nDQpzdHJhdGVneQ=="
                                                                            title="Implement digital marketing
strategy">
                                                                            <strong>Implement digit...</strong>
                                                                        </a>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td height="35px" width="100%" style="text-align:center; vertical-align: middle">
                                                                        <strong>Budget</strong>
                                                                    </td>

                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                <tr>
                                                                    <td width="100px" style=" padding:0; text-align:center">
                                                                        <div style=" width: 100%; display: block; margin-bottom: 20px">
                                                                            <table width="100%" class="table-bordered">

                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="50px" height="40px" style=" border-right: 1px solid #e7ecf1; text-align: center">
                                                                                            <strong>Hours</strong>
                                                                                        </td>
                                                                                        <td width="50px" style="text-align: center;">
                                                                                            <strong>US $</strong>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            2.00
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            50.00 </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            12.00
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            200.00 </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="100%" height="35px" colspan="2" style=" border:none;">
                                                                                            <table width="100%" height="35px">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="50%" height="35px" style=" border-left:none; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            14 </td>
                                                                                                        <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            250 </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div style=" width: 100%; display: block; margin-bottom: 20px">

                                                                        </div>
                                                                        <div style=" width: 100%; display: block; margin-bottom: 20px">

                                                                        </div>




                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td width="35%" style=" padding:0; text-align:center" height="35px;">
                                                                        <table width="100%" height="35px">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="50%" height="35px" style=" border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>74</strong>
                                                                                    </td>
                                                                                    <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>3310 </strong>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td width="150px">


                                                        <table width="100%" class="table table-bordered">
                                                            <thead class="persist-header">

                                                                <tr>
                                                                    <td height="91px" style=" width: 820px; text-align:center; vertical-align: middle">
                                                                        <a href="http://plmadev.myperformlaw.com/activity-budget-report/attorney-wise-activity-budget-split-up/RGV2ZWxvcCBhcHByb2FjaCB0byBidWlsZGluZw0KcmVsYXRpb25zaGlwcyB3aXRoIG1vcmUgY29udGFjdHMNCmF0IHlvdXIgbGV2ZWwu"
                                                                            title="Develop approach to building
relationships with more contacts
at your level.">
                                                                            <strong>Develop approac...</strong>
                                                                        </a>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td height="35px" width="100%" style="text-align:center; vertical-align: middle">
                                                                        <strong>Budget</strong>
                                                                    </td>

                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                <tr>
                                                                    <td width="100px" style=" padding:0; text-align:center">
                                                                        <div style=" width: 100%; display: block; margin-bottom: 20px">
                                                                            <table width="100%" class="table-bordered">

                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="50px" height="40px" style=" border-right: 1px solid #e7ecf1; text-align: center">
                                                                                            <strong>Hours</strong>
                                                                                        </td>
                                                                                        <td width="50px" style="text-align: center;">
                                                                                            <strong>US $</strong>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="100%" height="35px" colspan="2" style=" border:none;">
                                                                                            <table width="100%" height="35px">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="50%" height="35px" style=" border-left:none; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            - </td>
                                                                                                        <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            - </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>






                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td width="35%" style=" padding:0; text-align:center" height="35px;">
                                                                        <table width="100%" height="35px">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="50%" height="35px" style=" border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>39</strong>
                                                                                    </td>
                                                                                    <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>420 </strong>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td width="150px">


                                                        <table width="100%" class="table table-bordered">
                                                            <thead class="persist-header">

                                                                <tr>
                                                                    <td height="91px" style=" width: 820px; text-align:center; vertical-align: middle">
                                                                        <a href="http://plmadev.myperformlaw.com/activity-budget-report/attorney-wise-activity-budget-split-up/VHJhZGl0aW9uYWwgTWFya2V0aW5nOiBNZWFscyBhbmQNCmVudGVydGFpbm1lbnQsIHRyYXZlbCwNCmNvbmZlcmVuY2UgYW5kIGV2ZW50IGZlZXNzdWJtaXQNCnNlcGFyYXRlIGFjdGl2aXR5IGxpc3RpbmcgdG8NCnN1cHBvcnQgZnVuZGluZyByZXF1ZXN0"
                                                                            title="Traditional Marketing: Meals and
entertainment, travel,
conference and event feessubmit
separate activity listing to
support funding request">
                                                                            <strong>Traditional Mar...</strong>
                                                                        </a>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td height="35px" width="100%" style="text-align:center; vertical-align: middle">
                                                                        <strong>Budget</strong>
                                                                    </td>

                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                <tr>
                                                                    <td width="100px" style=" padding:0; text-align:center">
                                                                        <div style=" width: 100%; display: block; margin-bottom: 20px">
                                                                            <table width="100%" class="table-bordered">

                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="50px" height="40px" style=" border-right: 1px solid #e7ecf1; text-align: center">
                                                                                            <strong>Hours</strong>
                                                                                        </td>
                                                                                        <td width="50px" style="text-align: center;">
                                                                                            <strong>US $</strong>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="50%" height="41px" style=" border-right: 1px solid #e7ecf1; text-align: center;">
                                                                                            -
                                                                                        </td>
                                                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                                                            - </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td width="100%" height="35px" colspan="2" style=" border:none;">
                                                                                            <table width="100%" height="35px">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="50%" height="35px" style=" border-left:none; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            - </td>
                                                                                                        <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                                            - </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>






                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td width="35%" style=" padding:0; text-align:center" height="35px;">
                                                                        <table width="100%" height="35px">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="50%" height="35px" style=" border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>-</strong>
                                                                                    </td>
                                                                                    <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                                                        <strong>- </strong>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>





                    </div>


                </div>



            </div>
        </div>

    </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script> {{/content}}